<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Vaalikone</servlet-name>
    <servlet-class>vaalikone.Vaalikone</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TallennaEhdokas</servlet-name>
    <servlet-class>vaalikone.TallennaEhdokas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Yllapito</servlet-name>
    <servlet-class>vaalikone.Yllapito</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HaeEhdokas</servlet-name>
    <servlet-class>vaalikone.HaeEhdokas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vaalikone</servlet-name>
    <url-pattern>/Vaalikone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Yllapito</servlet-name>
    <url-pattern>/Yllapito</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TallennaEhdokas</servlet-name>
    <url-pattern>/TallennaEhdokas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HaeEhdokasLista</servlet-name>
    <servlet-class>vaalikone.HaeEhdokasLista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MuokkaaEhdokas</servlet-name>
    <servlet-class>vaalikone.MuokkaaEhdokas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PoistaEhdokas</servlet-name>
    <servlet-class>vaalikone.PoistaEhdokas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>
		org.glassfish.jersey.servlet.ServletContainer
     </servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HaeEhdokasLista</servlet-name>
    <url-pattern>/HaeEhdokasLista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HaeEhdokas</servlet-name>
    <url-pattern>/HaeEhdokas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MuokkaaEhdokas</servlet-name>
    <url-pattern>/MuokkaaEhdokas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PoistaEhdokas</servlet-name>
    <url-pattern>/PoistaEhdokas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FiltteroidaanEhdokasLista</servlet-name>
    <servlet-class>vaalikone.FiltteroidaanEhdokasLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltteroidaanEhdokasLista</servlet-name>
    <url-pattern>/FiltteroidaanEhdokasLista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>